

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.select{
    position: relative;
}

.button{
    width: 200px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: #140C1A;
    color: white;
    clip-path: polygon(12% 0, 0 40%, 0 100%, 89% 99%, 100% 50%, 100% 0%);
    padding: 18px 25px;
    cursor: pointer;
    transition: all .5s;
}

.button:hover{
    background: #5821A9;
}

.options{
    text-align: center;
    max-height: 105px;
    background-color: #140c1ace;
    position: absolute;
    width: 100%;
    border: 2px solid #5821A9; 
    color: white;
    z-index: 999;
    overflow-y: scroll;
}

.options::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .options::-webkit-scrollbar-track {
    background: #190E21;        /* color of the tracking area */
  }
  
  .options::-webkit-scrollbar-thumb {
    background-color: #7228E2;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #190E21;  /* creates padding around scroll thumb */
  }

.option{
    width: 100%;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
      
}

.filter{
    overflow-y: scroll;
    height: 250px;
}