

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.select{
    position: relative;
}

.button{
    width: 200px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: #140C1A;
    color: white;
    clip-path: polygon(12% 0, 0 40%, 0 100%, 89% 99%, 100% 50%, 100% 0%);
    padding: 18px 25px;
    cursor: pointer;
    transition: all .5s;
}

.button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: center;
  }
  .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #7228E2;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  button:hover, .button:focus, .button:active {
    color: white;
  }
  .button:hover:before, .button:focus:before, .button:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.options{
    text-align: center;
    max-height: 105px;
    background-color: #140c1ace;
    position: absolute;
    width: 100%;
    border: 2px solid #5821A9; 
    color: white;
    z-index: 999;
    overflow-y: scroll;
}

.options::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .options::-webkit-scrollbar-track {
    background: #190E21;        /* color of the tracking area */
  }
  
  .options::-webkit-scrollbar-thumb {
    background-color: #7228E2;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #190E21;  /* creates padding around scroll thumb */
  }

.option{
    width: 100%;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
      
}

.filter{
    overflow-y: scroll;
    height: 250px;
}